body {
    margin: auto;
    }
div {
        background-color: lavender;
    }
#2 {
    margin-left: 50%;
    }
ul {
    font-size: larger;
    color: lightcoral;
    }
/* H1 tags */
h1 { 
    background-color: rgb(119, 84, 255);
    color: white;
    text-align: center;
    }
h2 {
    color: mediumslateblue;
    text-align: left;
    }
.Name {
    font-size: xx-large;
    text-align: center;
    }
.IMG {
    width: 420px;
    height: 210px;
    }
.Picture {
    text-align: center;
    }